.map{
  height: 400px;
}

.wi {
  
    /* font-size: 20px; */
}
.swell_marker {
  /* min-width: 66px; */
  /* min-height: 80px; */
  /* max-width: 66px; */
  /* max-height: 80px; */
  /* font-size: "32px";
  padding: "16px"; */
  
}

.transparent{
  background: linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inline{
  display: inline;
}
.icon-big-wave{


}
.icon-buoy{
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: -1;
}
.buoy-data{
  position: relative;

}